#!/usr/bin/env bash

# Boost is required for this module
BOOST_PACKAGE_NAME="libboost-all-dev"

if [[ $OSTYPE == "darwin"* ]]; then
    BOOST_PACKAGE_NAME="boost"
fi

source "$AC_PATH_CONF/conf.sh.dist"

if [ -f "$AC_PATH_CONF/conf.sh" ]; then
    source "$AC_PATH_CONF/conf.sh"
fi

AC_ADD_MODULES_CONF="$AC_ADD_MODULES_CONF
mod-llm-chat = mod-llm-chat
"

AC_ADD_BUILD_DEPS="$AC_ADD_BUILD_DEPS
$BOOST_PACKAGE_NAME
" 