#!/usr/bin/env bash

# CURL is required for this module
CURL_PACKAGE_NAME="libcurl4-openssl-dev"

if [[ $OSTYPE == "darwin"* ]]; then
    CURL_PACKAGE_NAME="curl"
fi

source "$AC_PATH_CONF/conf.sh.dist"

if [ -f "$AC_PATH_CONF/conf.sh" ]; then
    source "$AC_PATH_CONF/conf.sh"
fi

AC_ADD_MODULES_CONF="$AC_ADD_MODULES_CONF
mod-llm-chat = mod-llm-chat
"

AC_ADD_BUILD_DEPS="$AC_ADD_BUILD_DEPS
$CURL_PACKAGE_NAME
" 